@charset "UTF-8";
/*Цвета проекта*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-opened {
  overflow-y: hidden;
}

.opened {
  left: 0px !important;
}

.submenu-opened {
  max-height: 730px !important;
}

.rotate {
  transform: rotate(360deg) !important;
}

.red {
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
}

.max-width-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.width-wrapper {
  max-width: 1182px;
  width: 100%;
}

.header .header__layout {
  margin: 0px 20px;
}
.header .header__layout .header__layout__top {
  padding: 32px 0px 35px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.header .header__layout .header__layout__top .header__layout__top__address {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media (max-width: 1125px) {
  .header .header__layout .header__layout__top .header__layout__top__address {
    display: none;
  }
}
.header .header__layout .header__layout__top .header__layout__top__address .header__layout__top__address__content {
  display: Flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  max-width: 248px;
}
.header .header__layout .header__layout__top .header__layout__top__mail {
  display: flex;
  gap: 8px;
  max-width: 150px;
}
@media (max-width: 992px) {
  .header .header__layout .header__layout__top .header__layout__top__mail {
    display: none;
  }
}
.header .header__layout .header__layout__top .header__layout__top__mail div {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.header .header__layout .header__layout__top .header__layout__top__mail div h5 {
  color: #3F5199;
  font-size: 15px;
  font-weight: 400;
}
.header .header__layout .header__layout__top .header__layout__top__mail div span {
  font-size: 15px;
  font-weight: 400;
}
.header .header__layout .header__layout__top .header__layout__top__social-links {
  display: flex;
  gap: 5px;
  width: 100%;
  max-width: 205px;
  max-height: 40px;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .header .header__layout .header__layout__top .header__layout__top__social-links {
    display: none;
  }
}
.header .header__layout .header__layout__top .header__layout__top__social-links .social-link {
  border-radius: 100px;
  padding: 10px;
  display: flex;
  transition: 0.3s ease;
  overflow: hidden;
}
.header .header__layout .header__layout__top .header__layout__top__social-links .social-link img {
  position: relative;
  z-index: 1;
}
.header .header__layout .header__layout__top .header__layout__top__social-links .vk {
  background: #1976D2;
}
.header .header__layout .header__layout__top .header__layout__top__social-links .vk:hover {
  background: #1862AB;
}
.header .header__layout .header__layout__top .header__layout__top__social-links .instagram {
  position: relative;
  background: linear-gradient(44deg, #EF9033 16.16%, #F13459 50.11%, #E329BC 83.68%);
}
.header .header__layout .header__layout__top .header__layout__top__social-links .instagram::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(44deg, #CD7825 16.16%, #C72847 50.11%, #C824A6 83.68%);
  opacity: 0;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  transition: 0.3s ease;
}
.header .header__layout .header__layout__top .header__layout__top__social-links .instagram:hover::after {
  opacity: 1;
}
.header .header__layout .header__layout__top .header__layout__top__social-links .whatsapp {
  background: #43D854;
}
.header .header__layout .header__layout__top .header__layout__top__social-links .whatsapp:hover {
  background: #36B544;
}
.header .header__layout .header__layout__top .header__layout__top__social-links .telegram {
  background: #039BE5;
  padding: 10px 12px 10px 8px;
}
.header .header__layout .header__layout__top .header__layout__top__social-links .telegram:hover {
  background: #0488C8;
}
@media (max-width: 992px) {
  .header .header__layout .header__layout__top .header__layout__top__phone:hover a {
    background: #5369C0;
  }
}
@media (max-width: 992px) {
  .header .header__layout .header__layout__top .header__layout__top__phone {
    order: -1;
  }
}
.header .header__layout .header__layout__top .header__layout__top__phone a {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.3s ease;
}
@media (max-width: 992px) {
  .header .header__layout .header__layout__top .header__layout__top__phone a {
    padding: 12px;
    background: #3F5199;
    border-radius: 8px;
  }
}
.header .header__layout .header__layout__top .header__layout__top__phone a svg path {
  fill: white !important;
}
.header .header__layout .header__layout__top .header__layout__top__phone a .header__layout__top__phone__content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
@media (max-width: 992px) {
  .header .header__layout .header__layout__top .header__layout__top__phone a .header__layout__top__phone__content {
    display: none;
  }
}
.header .header__layout .header__layout__top .header__layout__top__phone a .header__layout__top__phone__content h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 140%;
  color: #18181A;
}
.header .header__layout .header__layout__top .header__layout__top__phone a .header__layout__top__phone__content span {
  font-size: 14px;
  color: #3F5199;
  font-weight: 400;
  line-height: 140%;
  color: #3F5199;
  text-align: end;
}
.header .header__layout .header__layout__top .header__layout__top__hamburger {
  display: none;
}
.header .header__layout .header__layout__top .header__layout__top__hamburger:hover .header__layout__top__hamburger__wrapper {
  background: #5369C0;
}
@media (max-width: 992px) {
  .header .header__layout .header__layout__top .header__layout__top__hamburger {
    display: flex;
    max-height: 48px;
  }
}
.header .header__layout .header__layout__top .header__layout__top__hamburger .header__layout__top__hamburger__wrapper {
  padding: 12px;
  background: #3F5199;
  border-radius: 8px;
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;
}
@media (max-width: 992px) {
  .header .header__layout .header__layout__top .header__layout__top__hamburger .header__layout__top__hamburger__wrapper {
    width: 48px;
    height: 48px;
  }
}
.header .header__layout .header__layout__top .header__layout__top__hamburger .header__layout__top__hamburger__wrapper .close, .header .header__layout .header__layout__top .header__layout__top__hamburger .header__layout__top__hamburger__wrapper .hamburger {
  position: absolute;
  left: 12px;
  top: 12px;
}
.header .header__layout .header__layout__top .header__layout__top__hamburger .header__layout__top__hamburger__wrapper .visible {
  opacity: 1;
}
.header .header__layout .header__layout__top .header__layout__top__hamburger .header__layout__top__hamburger__wrapper .unvisible {
  opacity: 0;
}
.header .header__layout .header__layout__top .header__layout__top__hamburger .header__layout__top__hamburger__wrapper .visible {
  opacity: 1;
}
.header .header__layout .header__layout__bottom {
  border-top: 1px solid #E2E4F0;
  padding: 23px;
  transition: 0.3s ease;
  background: #FBFBFC;
}
@media (max-width: 992px) {
  .header .header__layout .header__layout__bottom {
    position: absolute;
    left: -1000px;
    width: 100%;
    padding: 0px 20px;
    height: 100%;
  }
}
.header .header__layout .header__layout__bottom .header__layout__bottom__items {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 992px) {
  .header .header__layout .header__layout__bottom .header__layout__bottom__items {
    flex-direction: column;
  }
}
.header .header__layout .header__layout__bottom .header__layout__bottom__items .header__layout__bottom__item .header__layout__bottom__item__title {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 15px;
  color: #18181A;
  font-weight: 700;
  line-height: 150%;
  transition: 0.3s ease;
}
@media (max-width: 992px) {
  .header .header__layout .header__layout__bottom .header__layout__bottom__items .header__layout__bottom__item .header__layout__bottom__item__title {
    padding: 24px 0px;
    border-bottom: 1px solid #E7ECF3;
  }
}
.header .header__layout .header__layout__bottom .header__layout__bottom__items .header__layout__bottom__item .header__layout__bottom__item__title img {
  transform: rotate(180deg);
  transition: 0.3s ease;
}
.header .header__layout .header__layout__bottom .header__layout__bottom__items .header__layout__bottom__item:hover a span {
  color: #5369C0;
}
.header .header__layout .header__layout__bottom .header__layout__bottom__items .header__layout__bottom__item:hover .header__layout__bottom__item__submenu {
  max-height: 350px;
}
@media (max-width: 992px) {
  .header .header__layout .header__layout__bottom .header__layout__bottom__items .header__layout__bottom__item:hover .header__layout__bottom__item__submenu {
    max-height: 0px;
    /*max-height: 730px*/
  }
}
.header .header__layout .header__layout__bottom .header__layout__bottom__items .header__layout__bottom__item .header__layout__bottom__item__submenu {
  max-height: 0px;
  overflow: hidden;
  transition: 0.3s ease;
  position: absolute;
}
@media (max-width: 992px) {
  .header .header__layout .header__layout__bottom .header__layout__bottom__items .header__layout__bottom__item .header__layout__bottom__item__submenu {
    position: relative;
    border-bottom: 1px solid #E7ECF3;
    margin-top: -1px;
  }
}
.header .header__layout .header__layout__bottom .header__layout__bottom__items .header__layout__bottom__item .header__layout__bottom__item__submenu .header__layout__bottom__item__submenu__wrapper {
  padding: 30px 50px;
  border-radius: 16px;
  border: 1px solid #EFEFEF;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05), 0px 30px 30px -15px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(229px, auto));
  justify-content: space-between;
  -moz-column-gap: 79px;
       column-gap: 79px;
  row-gap: 0px;
  max-width: 816px;
}
@media (max-width: 992px) {
  .header .header__layout .header__layout__bottom .header__layout__bottom__items .header__layout__bottom__item .header__layout__bottom__item__submenu .header__layout__bottom__item__submenu__wrapper {
    display: flex;
    flex-direction: column;
    border: none;
    margin-top: 0px;
    border-radius: 0px;
    max-width: none;
    padding: 20px 30px;
  }
}
.header .header__layout .header__layout__bottom .header__layout__bottom__items .header__layout__bottom__item .header__layout__bottom__item__submenu .header__layout__bottom__item__submenu__wrapper li a {
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
  transition: 0.3s ease;
  color: #585858;
}
.header .header__layout .header__layout__bottom .header__layout__bottom__items .header__layout__bottom__item .header__layout__bottom__item__submenu .header__layout__bottom__item__submenu__wrapper li:hover a {
  color: #5369C0;
}
.header .header__layout .header__layout__bottom .header__layout__bottom__info {
  display: none;
  padding: 40px 0px;
}
@media (max-width: 992px) {
  .header .header__layout .header__layout__bottom .header__layout__bottom__info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .header .header__layout .header__layout__bottom .header__layout__bottom__info {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 330px));
  }
}
@media (max-width: 576px) {
  .header .header__layout .header__layout__bottom .header__layout__bottom__info {
    padding: 30px 0px;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 241px));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}
@media (max-width: 380px) {
  .header .header__layout .header__layout__bottom .header__layout__bottom__info {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-row-gap: 20px;
  }
}
@media (max-width: 380px) {
  .header .header__layout .header__layout__bottom .header__layout__bottom__info li {
    grid-area: auto !important;
  }
}
.header .header__layout .header__layout__bottom .header__layout__bottom__info .header__layout__bottom__info__address a, .header .header__layout .header__layout__bottom .header__layout__bottom__info .header__layout__bottom__info__contacts a {
  border-radius: 16px;
  border: 1px solid var(--color-02, #EFEFEF);
  padding: 30px;
  display: flex;
  gap: 20px;
  background: white;
  height: 100%;
  align-items: center;
}
@media (max-width: 576px) {
  .header .header__layout .header__layout__bottom .header__layout__bottom__info .header__layout__bottom__info__address a, .header .header__layout .header__layout__bottom .header__layout__bottom__info .header__layout__bottom__info__contacts a {
    padding: 20px;
    gap: 10px;
    flex-direction: column;
  }
}
.header .header__layout .header__layout__bottom .header__layout__bottom__info .header__layout__bottom__info__address a span, .header .header__layout .header__layout__bottom .header__layout__bottom__info .header__layout__bottom__info__contacts a span {
  font-size: 15px;
  color: #18181A;
  font-weight: 400;
  line-height: 140%;
}
@media (max-width: 768px) {
  .header .header__layout .header__layout__bottom .header__layout__bottom__info .header__layout__bottom__info__address a {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 576px) {
  .header .header__layout .header__layout__bottom .header__layout__bottom__info .header__layout__bottom__info__address {
    grid-area: 1/1/2/3;
  }
}
@media (max-width: 576px) {
  .header .header__layout .header__layout__bottom .header__layout__bottom__info .header__layout__bottom__info__contacts {
    grid-area: 2/1/3/2;
  }
}
.header .header__layout .header__layout__bottom .header__layout__bottom__info .header__layout__bottom__info__contacts a {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.header .header__layout .header__layout__bottom .header__layout__bottom__info .header__layout__bottom__info__contacts .header__layout__bottom__info__contacts__mail {
  display: flex;
  gap: 20px;
}
@media (max-width: 576px) {
  .header .header__layout .header__layout__bottom .header__layout__bottom__info .header__layout__bottom__info__contacts .header__layout__bottom__info__contacts__mail {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
.header .header__layout .header__layout__bottom .header__layout__bottom__info .header__layout__bottom__info__contacts .header__layout__bottom__info__contacts__time {
  display: none;
}
@media (max-width: 768px) {
  .header .header__layout .header__layout__bottom .header__layout__bottom__info .header__layout__bottom__info__contacts .header__layout__bottom__info__contacts__time {
    display: Flex;
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .header .header__layout .header__layout__bottom .header__layout__bottom__info .header__layout__bottom__info__contacts .header__layout__bottom__info__contacts__time {
    display: none;
  }
}
.header .header__layout .header__layout__bottom .header__layout__bottom__info .header__layout__bottom__info__time {
  display: none;
}
@media (max-width: 576px) {
  .header .header__layout .header__layout__bottom .header__layout__bottom__info .header__layout__bottom__info__time {
    display: flex;
    grid-area: 2/2/3/2;
  }
}
.header .header__layout .header__layout__bottom .header__layout__bottom__info .header__layout__bottom__info__time .header__layout__bottom__info__time__wrapper {
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px solid #EFEFEF;
  background: #FFF;
  width: 100%;
}
.header .header__layout .header__layout__bottom .header__layout__bottom__social-links {
  display: none;
}
@media (max-width: 576px) {
  .header .header__layout .header__layout__bottom .header__layout__bottom__social-links {
    display: flex;
    gap: 5px;
    width: 100%;
    max-width: 298px;
    justify-content: space-between;
    padding-bottom: 80px;
  }
}
@media (max-width: 380px) {
  .header .header__layout .header__layout__bottom .header__layout__bottom__social-links {
    max-width: none;
  }
}
.header .header__layout .header__layout__bottom .header__layout__bottom__social-links .social-link {
  border-radius: 100px;
  padding: 16px;
  display: flex;
  transition: 0.3s ease;
  overflow: hidden;
}
.header .header__layout .header__layout__bottom .header__layout__bottom__social-links .social-link img {
  position: relative;
  z-index: 1;
}
.header .header__layout .header__layout__bottom .header__layout__bottom__social-links .vk {
  background: #1976D2;
}
.header .header__layout .header__layout__bottom .header__layout__bottom__social-links .vk:hover {
  background: #1862AB;
}
.header .header__layout .header__layout__bottom .header__layout__bottom__social-links .instagram {
  position: relative;
  background: linear-gradient(44deg, #EF9033 16.16%, #F13459 50.11%, #E329BC 83.68%);
}
.header .header__layout .header__layout__bottom .header__layout__bottom__social-links .instagram::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(44deg, #CD7825 16.16%, #C72847 50.11%, #C824A6 83.68%);
  opacity: 0;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  transition: 0.3s ease;
}
.header .header__layout .header__layout__bottom .header__layout__bottom__social-links .instagram:hover::after {
  opacity: 1;
}
.header .header__layout .header__layout__bottom .header__layout__bottom__social-links .whatsapp {
  background: #43D854;
}
.header .header__layout .header__layout__bottom .header__layout__bottom__social-links .whatsapp:hover {
  background: #36B544;
}
.header .header__layout .header__layout__bottom .header__layout__bottom__social-links .telegram {
  background: #039BE5;
  padding: 16px 18px 16px 14px;
}
.header .header__layout .header__layout__bottom .header__layout__bottom__social-links .telegram:hover {
  background: #0488C8;
}

.main .main-banner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=main.css.map */